In [2]:
import pandas as pd 
import numpy as np

In [3]:
data_station = pd.read_csv("Stations.csv")
data_conection = pd.read_csv("Connection_Times.csv")
data_station.head(5)

             label   latitude  longitude  critical
0          Alkmaar  52.637779   4.739722  Critical
1           Almelo  52.358055   6.653889       NaN
2   Almere Centrum  52.375030   5.217640       NaN
3  Alphen a/d Rijn  52.124443   4.657778       NaN
4       Amersfoort  52.153889   5.370555       NaN

In [4]:
data_conection.head(5)

          stationA           stationB  time
0           Alkmaar             Hoorn    24
1           Alkmaar        Den Helder    36
2            Almelo           Hengelo    10
3    Almere Centrum  Lelystad Centrum    14
4  Amsterdam Amstel    Almere Centrum    27

In [16]:
data_conection.reset_index(inplace=True)
trajectory=[[],[],[],[],[]]
max_time=60*3
current_time=0
for i in range(0,400):
    if current_time < max_time:
        if not trajectory[0]:
            x=data_station.sample()
            print(x.iloc[0,0])
            trajectory[0].append(x.iloc[0,0])
        nextstation_options=data_conection[(data_conection['stationA '] == trajectory[0][-1])]
        print(nextstation_options)
print(trajectory)vvvv

ValueError: cannot insert level_0, already exists